@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,700&family=Open+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container .card {
    width: 263px;
    height: 386px;
    border-radius: 16px 50px 16px 16px;

    background: #FFFFFF;
    box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.25);

    position: relative;
}

.container .card .shoes {
    position: absolute;
    top: -200px;
    right: -120px;

    z-index: 99;
}

.container .card .shadow {
    width: 100%;
    height: 100%;
    border-radius: 16px 50px 16px 16px;
    position: absolute;

    overflow: hidden;

}

.container .card .shadow:after {
    content: '';
    width: 400px;
    height: 300px;
    position: absolute;
    background: linear-gradient(114.61deg, rgba(196, 196, 196, 0.3) -19.56%, rgba(196, 196, 196, 0) 120%);
    border-radius: 50%;
    transform: rotate(20deg);
    top: -160px;
    left:-20px;
}

.container .card .card-content {
    width: 100%;
    height: 100%;

    padding: 110px 20px 0;

    font-family: 'Montserrat', sans-serif;
}

.container .card .card-content .subtitle {
    font-weight: 700;
    color: #8F8F8F;
    font-size: 14px;
    ;
}

.container .card .card-content .title {
    margin-top: 10px;
    font-weight: 700;
    color: #29455F;
    font-size: 26px;
    line-height: 31,69px;
}

.container .card .card-content .price {
    margin: 10px 0;
    text-align: right;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #29455F;
}

.container .card .card-content .price span {
    font-size: 14px;
    color: #808080;
    margin-right: 5px;
}

.container .card .actions-container {
    display: flex;
}

.container .card .actions-container .shoes-options {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container .card .actions-container .shoes-options p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;

    color: #808080;
}

.container .card .actions-container .shoes-options .color-options {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.container .card .actions-container .shoes-options .color-options .color {
    width: 18px;
    height: 18px;
    background:#B5DB48;
    border-radius: 50%;
}

.container .card .actions-container .shoes-options .color-options .color.selected {
    width: 21px;
    height: 21px;
    position: relative;
}

.container .card .actions-container .shoes-options .color-options .color.selected:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.06);
    top: -3px;
    left: -2.5px;
}

.container .card .actions-container .shoes-options .color-options .color+.color {
    margin-left: 25px;
}

.container .card .actions-container .shoes-options .color-options .color:nth-child(2) {
    background: #FF3838;
}

.container .card .actions-container .shoes-options .color-options .color:nth-child(3) {
    background:#3864FF;
}

.container .card .actions-container .shoes-options .size-options {
    display: flex;
    margin: 10px 0;
}

.container .card .actions-container .shoes-options .size-options .size {
    width: 23px;
    height: 23px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 8px;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .card .actions-container .shoes-options .size-options .size+.size {
    margin-left: 10px;

}

.container .card .actions-container .shoes-options .size-options .size.selected {
    background: #B5DB48;
    color: white;
    border: 0px;
}

.container .card .actions-container .cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .actions-container .cart button {
    width: 49px;
    height: 80px;

    background: #B5DB48;
    border-radius: 16px;
    border: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .card .actions-container .cart button .arrow {
    color: white;
    opacity: 0.2;
}

.container .card .actions-container .cart button .arrow:nth-child(2) {
    color: white;
    opacity: 0.4;
}

.container .card .actions-container .cart button .arrow:nth-child(3) {
    color: white;
    opacity: 0.6;
}

.container .card .actions-container .cart button .shop-cart {
    margin-top: 8px;
}